@using PizzaApp.Web.ViewModels.Admin
@model EditDoughInputModel

@{
    ViewData["Title"] = Model.Type;
}
<a class="btn btn-success btn-back"><i class="fa-solid fa-arrow-left"></i> Back</a>
<form asp-action="EditDough" method="post" class="container" name="dough-form">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <div class="mb-3">
        <label asp-for="Type" class="form-label">Dough Type</label>
        <input asp-for="Type" class="form-control" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-check mb-3">
        <input asp-for="IsDeleted" type="radio" value="@false" class="form-check-input" id="enable" />
        <label class="form-check-label" for="enable">Enable</label>
    </div>
    <div class="form-check mb-3">
        <input asp-for="IsDeleted" type="radio" value="@true" class="form-check-input" id="disable" />
        <label class="form-check-label text-danger" for="enable">Disable</label>
    </div>
    <div class="form-check mb-3">
        <label asp-for="Price" class="form-label" for="price">Price</label>
        <input asp-for="Price" type="number" required name="price" min="0.1" value="@Model.Price" step="0.1" id="price">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-danger">Save Changes</button>
</form>

@section Styles {
    <link href="~/css/Menu/pizza-details.css" rel="stylesheet" type="text/css" />
}

@section Scripts {
}
