@using static PizzaApp.GCommon.Constants

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @AppName!</h1>
    <h2>Home of the greatest pizza the Universe has to offer!</h2>

    <a class="btn btn-danger" id="btn-menu" asp-action="Index" asp-controller="Menu">Check our offers!</a>
    
</div>
