@using PizzaApp.Web.ViewModels
@model IEnumerable<MenuItemViewModel>

<div class="container menu-page">
    <div class="container-fluid">
        <partial name="_MenuSidebar" /> 
        <div class="row flex-wrap">
            <div class="col py-3">
                @foreach (MenuItemViewModel menuViewModel in Model)
                {
                    <partial name="_MenuItemOverviewCardPartial" model="menuViewModel" />
                }
            </div>
        </div>
    </div>

</div>