@{
    ViewData["Title"] = "400 - Bad Request";
}

<div class="bg-white">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="display-1 fw-bold text-danger">400</h1>
            <p class="fs-3">Bad Request</p>
            <p class="lead">Whoops! Looks like you tried to order a pizza with pineapple and anchovies or something. 
                The server refuses to process this abomination.</p>
            <a href="/" class="btn btn-primary mt-3">Back to Safety (Home)</a>
        </div>
    </div>
</div>