@{
    ViewData["Title"] = "401 - Unauthorized";
}

<div class="bg-white">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="display-1 fw-bold text-warning">401</h1>
            <p class="fs-3">Unauthorized</p>
            <p class="lead">This page is like a secret pizza recipe—you need the right credentials to see it. (Or just log in.)</p>
            <a href="/" class="btn btn-primary mt-3">I Promise I’m Not a Robot</a>
        </div>
    </div>
</div>