@{
    ViewData["Title"] = "403 - Forbidden";
}

<div class="bg-white">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="display-1 fw-bold text-danger">403</h1>
            <p class="fs-3">Forbidden</p>
            <p class="lead">Sorry, but you don’t have permission to enter the pizza kitchen. (Or maybe you just forgot your chef’s hat.)</p>
            <a href="/" class="btn btn-primary mt-3">Back to the Menu</a>
        </div>
    </div>
</div>