@{
    ViewData["Title"] = "404 - Not Found";
}

<div class="bg-white">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="display-1 fw-bold text-info">404</h1>
            <p class="fs-3">Pizza Not Found</p>
            <p class="lead">The page you’re looking for vanished faster than the last slice at a party.</p>
            <a href="/" class="btn btn-primary mt-3">Find a Real Pizza</a>
        </div>
    </div>
</div>