@{
    ViewData["Title"] = "500 - Server Error";
}

<div class="bg-white">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="display-1 fw-bold text-danger">500</h1>
            <p class="fs-3">Internal Server Error</p>
            <p class="lead">Our pizza oven overheated. The chefs are scrambling to fix it—please come back later!</p>
            <a href="/" class="btn btn-primary mt-3">Check for Emergency Garlic Bread</a>
        </div>
    </div>
</div>