@using Microsoft.AspNetCore.Identity
@using PizzaApp.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav">
        <li class="nav-item navbar-nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-cart-shopping fa-xl"></i> Cart</a>
        </li>
        <li class="nav-item navbar-nav-item btn-danger">
            <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Index"><i class="fa-solid fa-pizza-slice fa-xl"></i> Menu</a>
        </li>
        <li class="nav-item navbar-nav-item user-icon-dropdown">
            <span class="nav-link text-dark"><i class="fa-solid fa-circle-user fa-xl"></i></span>
            <ul class="account-dropdown-menu hidden">
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Addresses">Addresses</a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Orders">Orders</a>
                </li>
                <li>
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="btn-logout" type="submit" class="nav-link btn btn-link text-danger">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
    
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"> Login</a>
        </li>
    </ul>
}