@using PizzaApp.Web.ViewModels
@model MenuPizzaViewModel


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src=@Model.ImageUrl alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <a href="#" class="card-btn btn btn-danger"><i class="fa-solid fa-cart-plus"></i></a>
    </div>
</div>

